header {
  top: 0;
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(162, 145, 174, 0.15);

  .content {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 14rem;
  }

  .header {
    &__search {
      width: 57.5rem;
      height: 5rem;
      border-radius: 2.5rem;
      margin: 3.2rem 7.2rem;
      margin-right: 0;
      position: relative;
      background-color: white;
      border: 0.5px solid rgba(131, 131, 131, 0.3);

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.75rem;
        background: none;
        font-weight: 400;
        margin: 0 20rem 0 5rem;
        line-height: 21px;
        position: relative;
        font-family: inherit;
        color: $text-grey;
      }

      &::before {
        top: 50%;
        left: 3%;
        content: '';
        width: 2rem;
        height: 2rem;
        position: absolute;
        background-size: cover;
        transform: translateY(-50%);
        background: url('../../assets/svgs/magnifyingGlass.svg') center
          no-repeat;
      }
    }

    &-dropdown {
      top: 10rem;
      width: 30rem;
      right: 25rem;
      padding: 2.5rem;
      border-radius: 2px;
      position: absolute;
      background: #ffffff;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

      &__profile {
        display: flex;

        &:focus {
          outline: none;
        }

        &-image {
          width: 4.2rem;
          height: 4.2rem;
          overflow: hidden;
          border-radius: 50%;
          margin-right: 1.5rem;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &-details {
          margin-bottom: 1.5rem;
        }

        &-name {
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }

        &-action {
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: $neutral-grey;
        }
      }

      .divider {
        margin-bottom: 1.5rem;
      }

      &__options {
        margin-bottom: 0.5rem;
      }

      &__option {
        width: 100%;
        display: flex;
        margin: 0 auto;
        background: none;
        align-items: center;

        &-icon {
          width: 3rem;
          height: 3rem;
          margin-right: 2rem;
          border-radius: 50%;
          @include flexCenter;
          background-color: $neutral-white;
        }

        &-text {
          font-weight: 600;
          font-size: 1.4rem;
          line-height: 2.1rem;

          &.logout {
            color: red;
          }
        }

        &-next {
          margin-left: auto;
          @include flexCenter;
        }

        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .connect__badges {
    display: flex;
    height: 100%;
    margin-left: 25rem;
    align-items: center;

    @media (max-width: 1680px) {
      margin-left: 18rem;
    }

    .connect__badge {
      height: 4rem;
      display: flex;
      cursor: pointer;
      font-weight: 500;
      font-size: 1.6rem;
      margin-right: 5rem;
      padding: 1rem 2rem 1rem 0;

      position: relative;
      border-radius: 6rem;
      align-items: center;
      line-height: 1.8rem;
      justify-content: flex-start;
      background-color: #ede2f5;
      letter-spacing: -0.16500000655651093px;

      &.current {
        img {
          padding: 1rem;
          border-radius: 50%;
          background-color: $primary-color;
        }
      }

      &-dropdown {
        margin-left: 0.9rem;
      }

      img {
        margin-right: 1rem;
      }
    }
  }

  .notification__bell {
    border: none;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    margin-right: 5rem;
    background: url('../../assets/svgs/bell.svg') center;
    background-size: contain;
  }

  .profile {
    display: flex;
    background: none;
    align-items: center;
    justify-content: space-between;

    .avi {
      width: 4.2rem;
      height: 4.2rem;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 1rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .dropdown {
      width: 1.2rem;
      height: 1.2rem;
      background: url('../../assets/svgs/caretDown.svg') center no-repeat;
      background-size: contain;
    }
  }
}

section.page {
  padding-top: 10rem;
}

.notifications {
  top: 10rem;
  width: 48rem;
  right: 25rem;
  max-height: 50rem;
  overflow-x: hidden;
  position: absolute;
  border-radius: 1.6rem;
  background-color: white;
  padding: 2.5rem 2.5rem 0;
  box-shadow: 0.5px 0px rgba(0, 0, 0, 0.3),
    -4px 4px 12px rgba(98, 77, 113, 0.15);

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    justify-content: space-between;

    &-title {
      font-size: 2rem;
      line-height: 2rem;
      color: $text-purple;
    }

    &-close {
      background: none;

      svg path {
        fill: $btn-stroke;
      }
    }
  }

  &__divider {
    width: 150%;
  }

  &__list {
    list-style: none;
    padding: 2.5rem 0;
  }

  &__item {
    width: 100%;
    display: flex;
    height: 6.4rem;

    &:not(:last-of-type) {
      margin-bottom: 2.8rem;
    }

    &-icon {
      width: 6.4rem;
      height: 6.4rem;
      border-radius: 50%;
      position: relative;
      @include flexCenter;
      margin-right: 2.5rem;

      &.invitation {
        background-color: rgba($blue, 0.05);

        svg path {
          fill: $blue;
        }
      }

      &.challenge {
        background-color: rgba($green, 0.05);

        svg path {
          fill: $green;
        }
      }

      &.results {
        background-color: rgba($red, 0.05);

        svg path {
          fill: $red;
        }
      }
    }

    &-image {
      position: absolute;
      right: -5px;
      bottom: -5px;
      width: 2.4rem;
      height: 2.4rem;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid white;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-details {
      display: flex;
      font-size: 1.4rem;
      line-height: 2rem;
      flex-direction: column;
      justify-content: center;
    }

    &-text {
      margin-bottom: 4px;
      color: $text-purple;

      span.bold {
        font-weight: 700;
      }
    }

    &-age {
      font-size: 1.2rem;
      color: $text-grey;
    }
  }
}

.games__dropdown {
  top: 10rem;
  right: 50rem;
  width: 14.4rem;
  list-style: none;
  position: absolute;
  padding: 1rem 1.8rem;
  background-color: white;

  li {
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $text-purple;

    &:not(:last-of-type) {
      margin-bottom: 0.7rem;
    }
  }
}
