button {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: inherit;

  &.primary {
    height: 4rem;
    color: white;
    width: 13rem;
    background: none;
    font-weight: 500;
    border-radius: 10rem;
    padding: 0.8rem 2.4rem;
    font-family: Inter, sans-serif;
    background-color: $primary-color;
  }

  &.secondary {
    font-weight: 600;
    color: $primary-color;
    background-color: white;
    border-bottom: 1px solid $primary-color;
  }
}
