.modal {
  width: 100%;
  height: 100%;

  input,
  label,
  select {
    font-family: inherit;
  }

  &-header {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    padding: 2.3rem 4rem;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0.5px 0px rgba(0, 0, 0, 0.3),
      -4px 4px 12px rgba(98, 77, 113, 0.15);

    &-placeholder {
      width: 2.4rem;
      height: 2.4rem;
    }

    &-title {
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $text-purple;
    }

    &-close,
    &-title {
      margin-left: auto;
    }

    &-close,
    &-back {
      cursor: pointer;
      background: none;

      &:focus {
        outline: none;
      }
    }
  }

  &-content {
    padding: 5.6rem 14.4rem 0;

    &-title {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4.8rem;
      margin-bottom: 2.8rem;
    }
  }

  .new__challenge-content {
    &-radio {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      border-radius: 50%;
      position: relative;
      @include flexCenter;
      margin-right: 1.8rem;
      border: 2px solid $text-grey;

      input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          background-color: $primary-color;
        }
      }

      .checkmark {
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
      }

      &-group {
        display: flex;
        align-items: center;
        margin-bottom: 3.2rem;

        &:hover input:not(:checked) ~ .checkmark {
          background-color: #ccc;
        }

        &:last-of-type {
          margin-bottom: 5rem;
        }

        label {
          cursor: pointer;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: $text-purple;
        }
      }
    }

    &-victory svg {
      width: 31.3rem;
      height: 16rem;
    }

    &-info {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 3rem;
      color: $text-purple;
      line-height: 2.65rem;
    }
  }

  .new__challenge-opponent {
    &-search {
      width: 100%;
      display: flex;
      height: 5.2rem;
      border-radius: 4px;
      align-items: center;
      margin-bottom: 1rem;
      padding: 1.8rem 2.3rem;
      border: 1px solid $btn-stroke;

      &::before {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        background: red;
        margin-right: 8px;
        background: url('../../assets/svgs/magnifyingGlass.svg') no-repeat
          center;
      }

      input {
        width: 100%;
        border: none;
        font-size: 1.4rem;
        color: $text-grey;
        line-height: 2.1rem;
        font-family: inherit;

        &:focus {
          outline: none;
        }
      }
    }

    &-list {
      width: 100%;
      margin-bottom: 2.6rem;
    }

    &-item {
      display: flex;
      height: 7.2rem;
      cursor: pointer;
      list-style: none;
      align-items: center;
      border-radius: 1.2rem;
      padding: 1.4rem 1.6rem;

      &.selected {
        background-color: rgba(143, 146, 161, 0.05);
      }
    }

    &-image {
      width: 3rem;
      height: 3rem;
      overflow: hidden;
      margin-right: 1rem;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-fullname {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $text-purple;
    }

    &-username {
      color: $grey;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 2rem;
      font-style: italic;
    }
  }

  .new__challenge-created {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button.primary {
    height: 4.8rem;
    @include flexCenter;
    padding: 1.2rem 6.4rem;

    &.create-challenge {
      margin-top: 4.8rem;
    }
  }

  .game__settings {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 5px;
    line-height: 3.2rem;
  }

  &.invite-modal {
    .modal-header {
      &-title {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 4.8rem;
        text-align: center;
      }
    }

    .modal-content {
      text-align: center;
      padding-left: 8.4rem;
      padding-right: 8.4rem;

      &-title {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-bottom: 4rem;
      }

      form {
        display: flex;
        align-items: center;
        margin-bottom: 6.5rem;
        flex-direction: column;
      }

      .invite-modal__email-input {
        margin: auto;
        display: flex;
        width: 52.3rem;
        height: 5.2rem;
        border-radius: 4px;
        align-items: center;
        margin-bottom: 2.5rem;
        padding: 1.8rem 2.3rem;
        border: 1px solid $btn-stroke;

        &::before {
          content: '';
          width: 1.6rem;
          height: 1.6rem;
          background: red;
          margin-right: 12px;
          background: url('../../assets/svgs/mail.svg') no-repeat center;
          background-size: contain;
        }

        input {
          width: 100%;
          border: none;
          font-size: 1.4rem;
          color: $text-grey;
          line-height: 2.1rem;
          font-family: inherit;

          &:focus {
            outline: none;
          }
        }
      }

      .divider {
        margin-bottom: 1.5rem;
      }
    }

    .invite-modal__footer {
      &-text {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 3rem;
        color: $text-purple;
        margin-bottom: 3rem;
      }

      &-actions {
        display: flex;
        justify-content: space-between;
      }

      &-button {
        display: flex;
        height: 3.6rem;
        padding: 0.8rem;
        font-size: 1.2rem;
        background: none;
        font-weight: 600;
        border-radius: 4px;
        align-items: center;
        color: $text-purple;
        line-height: 1.5rem;
        font-family: inherit;
        border: 1px solid $btn-stroke;

        &-icon {
          margin-right: 1rem;
        }
      }

      &-facebook {
        color: #4267b2;
        background-color: rgba(#4267b2, 0.2);
      }

      &-copy-link {
        display: flex;
        max-width: 31rem;
        font-size: 1.2rem;
        border-radius: 4px;
        line-height: 1.8rem;
        align-items: center;
        border: 1px solid $btn-stroke;

        input {
          height: 100%;
        }

        button {
          border: none;
          border-radius: 0;
          font-size: inherit;
          margin-right: 1rem;
          border-right: 1px solid $btn-stroke;
        }

        p {
          color: $text-grey;
        }
      }
    }
  }
}

.event-modal {
  &__types {
    display: flex;
    justify-content: space-around;
  }

  &__type {
    width: 19rem;
    display: flex;
    cursor: pointer;
    height: 21.2rem;
    padding: 1.6rem;
    background: none;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    border: 1px solid $divider;
    box-shadow: -2px 2px 12px rgba(98, 77, 113, 0.15);

    &-icon {
      margin: 2rem;
    }

    &-title {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $primary-color;
      margin-bottom: 0.8rem;
    }

    &-description {
      font-size: 1.1rem;
      color: $text-purple;
      line-height: 1.32rem;
    }
  }
}

.head-to-head {
  &__actions {
    display: flex;
    margin: 6rem 0;
    justify-content: space-between;

    button {
      &.head-to-head__back-button {
        height: 4.8rem;
      }

      &.head-to-head__create-button {
        padding: 1.2rem 2.6rem;
      }
    }
  }
}
