@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin normalText {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $text-purple;
  font-family: inherit;
}

@mixin hideScrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}
