$grey: #cbc4d2;
$white: #cbc4d2;
$accent: #88d551;
$divider: #e3e1e4;
$subtitle: #cbc4d2;
$text-grey: #807589;
$text-purple: #221a28;
$primary-dark: #652494;
$primary-color: #9e51d5;
$primary-light: #b38ae5;
$primary-lighter: #d1adeb;
$secondary-light: #dad6f9;
$text-purple-light: #cbc4d2;
$btn-stroke: rgba(128, 117, 137, 0.4);

$neutral-white: #f8f0fb;
$border-whisper: #e8e8e8;
