section.dashboard {
  display: grid;
  grid-template-columns: 33fr 17fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  min-height: 100vh;

  .activities {
    padding: 5.2rem 3.2rem;
    padding-bottom: 0;

    p.title {
      margin-bottom: 2.5rem;

      span.user {
        color: $text-grey;
      }
    }

    .history {
      display: grid;
      grid-template-columns: 132fr 97fr;
      grid-template-rows: 1fr;
      grid-column-gap: 3.2rem;
      grid-row-gap: 0px;

      &-card,
      .score-card {
        margin-bottom: 8rem;
      }

      .score-card {
        width: 38rem;

        .last__played {
          &-results {
            font-weight: 700;
            font-size: 2.8rem;
            color: $text-grey;
            line-height: 4.2rem;
            margin-bottom: 2rem;

            .winner {
              color: $text-purple;
            }
          }

          &-participants {
            &__scores {
              padding: 0 6rem;
              @include flexCenter;
              margin-bottom: 2rem;
              justify-content: space-between;
            }
          }

          &-participant {
            display: flex;

            &:nth-of-type(2) {
              flex-direction: row-reverse;
            }

            &-profile {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            &-username {
              font-weight: 600;
              font-size: 1.4rem;
              line-height: 1.8rem;
              color: $text-purple;
            }

            &-image {
              width: 6rem;
              height: 6rem;
              object-fit: cover;
              border-radius: 50%;

              &-wrapper {
                width: 7rem;
                height: 7rem;
                border-radius: 50%;
                margin-bottom: 4px;
                @include flexCenter;

                &.winner {
                  border: 2px solid $accent;
                }
              }
            }
          }

          &-actions {
            display: flex;
            padding: 0 4rem;
            margin-bottom: 2rem;

            :not(:last-child) {
              margin-right: 2.25rem;
            }
          }

          &-points {
            display: flex;
            align-items: center;
            flex-direction: column;

            &-title {
              font-weight: 700;
              font-size: 1.2rem;
              line-height: 1.8rem;
              color: $primary-dark;
              text-transform: uppercase;
            }

            &-value {
              font-weight: 700;
              font-size: 2.8rem;
              margin-left: 4rem;
              position: relative;
              line-height: 4.2rem;

              &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -3rem;
                width: 1.6rem;
                height: 1.6rem;
                transform: translateY(-50%);
                background: url('../../assets/svgs/polygonUp.svg') no-repeat
                  center;
                background-size: cover;
              }
            }
          }
        }
      }

      .card {
        height: 31.1rem;
        box-shadow: -4px 4px 12px rgba(98, 77, 113, 0.15);

        &__content {
          display: flex;
          padding: 4rem 1.6rem;
          justify-content: space-between;

          &.score-card__content {
            display: block;
            padding-top: 2.7rem;

            .last__played {
              width: 10.9rem;
              height: 2.4rem;
              font-weight: 700;
              font-size: 1.2rem;
              line-height: 2rem;
              border-radius: 4px;
              margin-bottom: 2rem;
              @include flexCenter;
              color: $primary-dark;
              text-transform: uppercase;
              background-color: rgba(101, 36, 148, 0.2);
            }
          }

          & + divider {
            width: 95%;
          }

          .image {
            img {
              width: 15.6rem;
              height: 19.2rem;
            }
          }

          .right {
            display: flex;
            margin-left: 3rem;
            flex-direction: column;

            .details {
              height: 15rem;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(2, 1fr);
              grid-row-gap: 6rem;

              .detail {
                height: 5rem;
                display: flex;
                align-items: center;
                margin-right: 3.2rem;

                &__icon {
                  width: 5rem;
                  height: 5rem;
                  border-radius: 50%;
                  @include flexCenter;
                  margin-right: 1.8rem;

                  &.trophy {
                    background-color: rgba(101, 36, 148, 0.2);
                  }

                  &.flag {
                    background-color: rgba(136, 213, 81, 0.2);
                  }
                }

                &__label {
                  font-weight: 600;
                  color: $text-grey;
                  line-height: 1.8rem;
                  text-transform: uppercase;
                }

                &__value {
                  font-weight: 700;
                  font-size: 2.4rem;
                  letter-spacing: 0.35%;
                }
              }
            }
          }
        }
      }
    }
  }

  .challenges {
    h3.title {
      font-size: 2rem;
      font-weight: 500;
      line-height: 3.2rem;
      margin-bottom: 3.3rem;
      color: $text-purple;
    }

    .challenge__list {
      margin-bottom: 6.4rem;

      &.open {
        h3.title {
          margin-bottom: 8px;
        }

        .challenge__list-item {
          height: 7.3rem;

          &-image {
            width: 8.5rem;
            height: 7.3rem;
          }
        }
      }

      &-item {
        display: flex;
        width: 36.4rem;
        height: 9.6rem;
        overflow: hidden;
        font-weight: 500;
        border-radius: 6px;
        margin-bottom: 2.4rem;
        border: 1px solid $btn-stroke;

        &-image {
          left: -1px;
          width: 8.5rem;
          height: 9.6rem;
          position: relative;
          margin-right: 1.6rem;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
          }
        }

        &-details {
          color: $text-purple;
        }

        &-identifier {
          height: 4.2rem;
          margin: 1.4rem 0;
          margin-right: 3.7rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &-title {
          font-size: 1.4rem;
          line-height: 1.8rem;
        }

        &-challenger {
          font-weight: 400;
          font-size: 1.3rem;
          line-height: 1.7rem;
          color: $text-grey;

          &-name {
            color: $text-purple;
          }
        }

        &-time {
          font-size: 1.4rem;
          line-height: 1.6rem;
          color: $accent;
        }

        &-points {
          font-size: 1.5rem;
          margin-top: 2.8rem;
          line-height: 1.5rem;
        }
      }
    }

    .challenge__filter {
      display: flex;
      height: 3.2rem;
      align-items: center;
      margin-bottom: 3.2rem;
      line-height: 1.6rem;

      p {
        font-size: 1.6rem;
        margin-right: 19.9rem;
        color: $text-grey;
      }
    }
  }
}

div.live {
  p {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .live__matches {
    display: flex;
    max-width: 100%;
  }

  .live__match {
    display: flex;
    width: 29.6rem;
    height: 41.1rem;
    overflow: hidden;
    margin-right: 3rem;
    border-radius: 0.8rem;
    flex-direction: column;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);

    &-image {
      width: 100%;
      height: 21.1rem;
      position: relative;

      & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .label {
        position: absolute;
        top: 5%;
        height: 2rem;
        width: 6.3rem;
        display: flex;
        font-weight: 500;
        font-size: 1.4rem;
        border-radius: 2px;
        line-height: 1.4rem;
        align-items: center;
        background: #ff00001a;
        padding: 0.3rem 0.75rem;
        text-transform: uppercase;
        justify-content: space-between;
        font-family: 'SF Pro', Inter, sans-serif;

        &__live {
          color: red;
          left: 3%;
        }

        &__viewers {
          left: 27%;
          color: white;
          background: rgba(0, 0, 0, 0.2);

          img {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }

    &-details {
      padding: 2.4rem;

      .divider {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.815rem;
      margin-bottom: 1.6rem;
      color: var(--text-purple);
    }

    &-players {
      display: flex;
      text-align: center;

      > * {
        margin-right: 2rem;
      }
    }

    &-player {
      display: flex;
      height: 9.62rem;
      flex-direction: column;

      &-avatar {
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 4px;
        border: 1px solid var(--text-purple);

        & > img {
          width: 100%;
          height: 100%;
        }
      }

      &-name {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: var(--text-purple);
      }

      &-points {
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: var(--text-grey);
      }
    }

    &-versus {
      font-size: 1.3rem;
      margin-top: 1.5rem;
      line-height: 1.5rem;
      color: var(--text-grey);
    }
  }
}

.challenges {
  padding: 2rem 2.4rem;
  border-left: 1px solid #e3e1e4;

  h3.title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.2rem;
    margin-bottom: 3.3rem;
    color: var(--text-purple);
  }

  .challenge__list {
    margin-bottom: 6.4rem;

    &.open {
      h3.title {
        margin-bottom: 8px;
      }

      .challenge__list-item {
        height: 7.3rem;

        &-image {
          width: 8.5rem;
          height: 7.3rem;
        }
      }
    }

    &-item {
      display: flex;
      width: 36.4rem;
      height: 9.6rem;
      overflow: hidden;
      font-weight: 500;
      border-radius: 6px;
      margin-bottom: 2.4rem;
      border: 1px solid var(--btn-stroke);

      &-image {
        left: -1px;
        width: 8.5rem;
        height: 9.6rem;
        position: relative;
        margin-right: 1.6rem;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%);
        }
      }

      &-details {
        color: var(--text-purple);
      }

      &-identifier {
        height: 4.2rem;
        margin: 1.4rem 0;
        margin-right: 3.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-title {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      &-challenger {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.7rem;
        color: var(--text-grey);

        &-name {
          color: var(--text-purple);
        }
      }

      &-time {
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: var(--accent);
      }

      &-points {
        font-size: 1.5rem;
        margin-top: 2.8rem;
        line-height: 1.5rem;
      }
    }
  }

  .challenge__filter {
    display: flex;
    height: 3.2rem;
    align-items: center;
    margin-bottom: 3.2rem;
    line-height: 1.6rem;

    p {
      font-size: 1.6rem;
      margin-right: 19.9rem;
      color: var(--text-grey);
    }

    .select {
      height: 3.2rem;
      position: relative;

      &::after {
        top: 50%;
        content: '';
        right: 1.2rem;
        width: 1.2rem;
        height: 0.7rem;
        position: absolute;
        border-radius: 0.5px;
        background-size: cover;
        transform: translateY(-50%);
        background-image: url(../../assets/svgs/dropdown.svg);
      }

      select {
        height: 100%;
        border: none;
        min-width: 6.2rem;
        font-size: 1.4rem;
        appearance: none;
        border-radius: 4px;
        font-family: inherit;
        padding: 0.8rem 1.5rem;
        color: var(--text-purple);
        background: rgba(203, 196, 210, 0.3);
      }
    }
  }
}
