.games__container {
  max-width: 100%;
  overflow-x: scroll;
  padding-top: 3.2rem;
  margin-right: 3.2rem;
  padding-left: 3.2rem;
  @include hideScrollbar;
}

h2.title {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  margin: 1.6rem 0 4.8rem;
}

.user__games {
  display: flex;
  margin-bottom: 9rem;
}

.user__game {
  width: 16rem;
  height: 20rem;
  flex: 0 0 16rem;
  overflow: hidden;
  margin-right: 4rem;
  border-radius: 1.6rem;

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0px 24px 32px rgba(158, 81, 213, 0.14));
  }
}

.all__games {
  &-filters {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }

  &-categories {
    display: flex;
    margin-right: 25rem;
  }

  &-category {
    width: 20.5rem;
    height: 5.6rem;
    background: none;
    margin-right: 3rem;
    @include flexCenter;
    padding: 1rem 4.4rem;
    border-radius: 10rem;

    &.selected {
      background-color: $divider;
    }

    &.selected &-text {
      color: $primary-color;
    }

    &:last-of-type {
      margin-left: -10rem;
    }

    &-text {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3.6rem;
      color: $text-purple;
    }
  }

  &-search {
    width: 32.1rem;
    height: 4.8rem;
    overflow: hidden;
    position: relative;
    @include flexCenter;
    border-radius: 2.4rem;
    background-color: rgba(203, 196, 210, 0.3);

    &::before {
      content: '';
      left: 2rem;
      width: 1.6rem;
      height: 1.6rem;
      position: absolute;
      background: url('../../assets/svgs/magnifyingGlass.svg') no-repeat center;
    }

    input {
      width: 85%;
      border: none;
      height: 100%;
      background: none;
      font-size: 1.4rem;
      margin-left: 5rem;
      margin-right: 3rem;
      line-height: 2.1rem;
      font-family: inherit;

      &:focus {
        outline: none;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2.5rem;

    li.user__game {
      margin: 0;
      width: 15.2rem;
      height: 23.2rem;
    }
  }
}
